<header>
    <h1>Eat Da Burger!</h1>
</header>

<main class="container">
    <div class="row">
        <div class="col-lg-12">Here's where we will have some photos.  Or maybe many!!</div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            Placeholder for uneaten burgers
        </div>
        <div class="col-lg-6">
            Placeholder for eaten burgers
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
            Placeholder for form
        </div>
        <div class="col-lg-3">
        </div>
    </div>
</main>