<header>
    <h1>Eat Da Burger!</h1>
</header>

<main class="container">
    <div class="row">
        <div class="col-lg-12">Here's where we will have some photos.  Or maybe many!!</div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <ul>
            {{#each burgers}}
                <p>{{burger_name}}</p>
            {{/each}}
            </ul>        
        </div>
        <div class="col-lg-6">
            <p class="float-left">Placeholder for eaten burgers</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
        </div>
        <form class="col-lg-6 new-burger-form">
            <input id="name-input" placeholder="Enter your burger name here!" rows="4"></input>
            <button id="name-input-submit" type="submit">Submit!</button>
        </form>
        <div class="col-lg-3">
        </div>
    </div>
</main>