<p class="burger-display">
	{{burger_name}}

	<button class="devour-burger float-right btn" data-id="{{id}}" data-devour="{{devoured}}">
		{{#if devoured}}Devour It!{{else}}Make Another!{{/if}}
	</button>
</p>